# CS584 HW4
March 26, 2020

In [1]:
import itertools
import numpy
import pandas as pd
import scipy
import sympy 
import sklearn.naive_bayes as naive_bayes
import statsmodels.api as stats
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load dataset
purchase = pd.read_csv("Purchase_Likelihood.csv")
purchase.head()

   group_size  homeowner  married_couple  insurance
0           2          0               1          1
1           2          0               1          1
2           2          0               1          1
3           2          0               1          1
4           2          0               1          1

## Question 1

In [3]:
# A function that returns the columnwise product of two dataframes (must have same number of rows)
def create_interaction (inDF1, inDF2):
    name1 = inDF1.columns
    name2 = inDF2.columns
    outDF = pd.DataFrame()
    for col1 in name1:
        for col2 in name2:
            outName = col1 + " * " + col2
            outDF[outName] = inDF1[col1] * inDF2[col2]
    return(outDF)

# A function that find the non-aliased columns, fit a logistic model, and return the full parameter estimates
def build_mnlogit (fullX, y, debug = 'N'):
    # Number of all parameters
    nFullParam = fullX.shape[1]

    # Number of target categories
    y_category = y.cat.categories
    nYCat = len(y_category)

    # Find the non-redundant columns in the design matrix fullX
    reduced_form, inds = sympy.Matrix(fullX.values).rref()

    # These are the column numbers of the non-redundant columns
    if (debug == 'Y'):
        print('Column Numbers of the Non-redundant Columns:')
        print(inds)

    # Extract only the non-redundant columns for modeling
    X = fullX.iloc[:, list(inds)]

    # The number of free parameters
    thisDF = len(inds) * (nYCat - 1)

    # Build a multionomial logistic model
    logit = stats.MNLogit(y, X)
    thisFit = logit.fit(method='newton', full_output = True, maxiter = 100, tol = 1e-8)
    thisParameter = thisFit.params
    thisLLK = logit.loglike(thisParameter.values)

    if (debug == 'Y'):
        print(thisFit.summary())
        print("Model Parameter Estimates:\n", thisParameter)
        print("Model Log-Likelihood Value =", thisLLK)
        print("Number of Free Parameters =", thisDF)

    # Recreat the estimates of the full parameters
    workParams = pd.DataFrame(numpy.zeros(shape = (nFullParam, (nYCat - 1))))
    workParams = workParams.set_index(keys = fullX.columns)
    fullParams = pd.merge(workParams, thisParameter, how = "left", left_index = True, right_index = True)
    fullParams = fullParams.drop(columns = '0_x').fillna(0.0)

    # Return model statistics
    return (thisLLK, thisDF, fullParams)

In [4]:
y = purchase['insurance'].astype('category')

x1 = pd.get_dummies(purchase[['group_size']].astype('category'))
x2 = pd.get_dummies(purchase[['homeowner']].astype('category'))
x3 = pd.get_dummies(purchase[['married_couple']].astype('category'))

designX = pd.DataFrame(y.where(y.isnull(), 1))
LLK0, DF0, fullParams0 = build_mnlogit (designX, y, debug = 'Y')

Column Numbers of the Non-redundant Columns:
(0,)
Optimization terminated successfully.
         Current function value: 0.895013
         Iterations 5
                          MNLogit Regression Results
==============================================================================
Dep. Variable:              insurance   No. Observations:               665249
Model:                        MNLogit   Df Residuals:                   665247
Method:                           MLE   Df Model:                            0
Date:                Sun, 29 Mar 2020   Pseudo R-squ.:               6.440e-11
Time:                        11:03:52   Log-Likelihood:            -5.9541e+05
converged:                       True   LL-Null:                   -5.9541e+05
Covariance Type:            nonrobust   LLR p-value:                       nan
===============================================================================
insurance=1       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
insurance       1.0869      0.003    356.296      0.000       1.081       1.093
-------------------------------------------------------------------------------
insurance=2       coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
insurance      -0.4086      0.004    -97.874      0.000      -0.417      -0.400
===============================================================================
Model Parameter Estimates:
                   0         1
insurance  1.086931 -0.408633
Model Log-Likelihood Value = -595406.7618844225
Number of Free Parameters = 2

In [7]:
#Intercept + group_size
designX = stats.add_constant(x1, prepend=True)
LLK1, DF1, fullParams1 = build_mnlogit(designX, y, debug = 'N')
testDev = 2 * (LLK1 - LLK0)
testDF = DF1 - DF0
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)

Optimization terminated successfully.
         Current function value: 0.894271
         Iterations 5
Deviance Chi=Square Test
Chi-Square Statistic =  987.5766005264595
  Degreee of Freedom =  6
        Significance =  4.3478703885228946e-210

In [8]:
#Intercept + group_size + homeowner
designX = x1
designX = designX.join(x2)
designX = stats.add_constant(designX, prepend=True)
LLK2, DF2, fullParams2 = build_mnlogit (designX, y, debug = 'N')
testDev = 2 * (LLK2 - LLK1)
testDF = DF2 - DF1
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)

Optimization terminated successfully.
         Current function value: 0.889861
         Iterations 5
Deviance Chi=Square Test
Chi-Square Statistic =  5867.781500353245
  Degreee of Freedom =  2
        Significance =  0.0

In [9]:
#Intercept + group_size + homeowner + married_couple
designX = x1
designX = designX.join(x2)
designX = designX.join(x3)
designX = stats.add_constant(designX, prepend=True)
LLK3, DF3, fullParams3 = build_mnlogit (designX, y, debug = 'N')
testDev = 2 * (LLK3 - LLK2)
testDF = DF3 - DF2
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)

Optimization terminated successfully.
         Current function value: 0.889797
         Iterations 5
Deviance Chi=Square Test
Chi-Square Statistic =  84.57800238393247
  Degreee of Freedom =  2
        Significance =  4.3064572180356084e-19

In [10]:
#Intercept + group_size + homeowner + married_couple + (group_size * homeowner)
designX = x1
designX = designX.join(x2)
designX = designX.join(x3)
x12 = create_interaction(x1, x2)
designX = designX.join(x12)
designX = stats.add_constant(designX, prepend=True)
LLK4, DF4, fullParams4 = build_mnlogit (designX, y, debug = 'N')
testDev = 2 * (LLK4 - LLK3)
testDF = DF4 - DF3
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)

Optimization terminated successfully.
         Current function value: 0.889606
         Iterations 5
Deviance Chi=Square Test
Chi-Square Statistic =  254.07812536344863
  Degreee of Freedom =  6
        Significance =  5.5121059685664295e-52

In [11]:
#Intercept + group_size + homeowner + married_couple + (group_size * homeowner) + (group_size * married_couple)
designX = x1
designX = designX.join(x2)
designX = designX.join(x3)
x12 = create_interaction(x1, x2)
designX = designX.join(x12)
x13 = create_interaction(x1, x3)
designX = designX.join(x13)

designX = stats.add_constant(designX, prepend=True)
LLK5, DF5, fullParams5 = build_mnlogit (designX, y, debug = 'N')
testDev = 2 * (LLK5 - LLK4)
testDF = DF5 - DF4
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)

Optimization terminated successfully.
         Current function value: 0.888567
         Iterations 6
Deviance Chi=Square Test
Chi-Square Statistic =  1382.5423636829946
  Degreee of Freedom =  6
        Significance =  1.4597001210408566e-295

In [12]:
#Intercept + group_size + homeowner + married_couple + (group_size * homeowner) + (group_size * married_couple)
# + (homeowner * married_couple)
designX = x1
designX = designX.join(x2)
designX = designX.join(x3)
x12 = create_interaction(x1, x2)
designX = designX.join(x12)
x13 = create_interaction(x1, x3)
designX = designX.join(x13)
x23 = create_interaction(x2, x3)
designX = designX.join(x23)

designX = stats.add_constant(designX, prepend=True)
LLK6, DF6, fullParams6 = build_mnlogit (designX, y, debug = 'N')
testDev = 2 * (LLK6 - LLK5)
testDF = DF6 - DF5
testPValue = scipy.stats.chi2.sf(testDev, testDF)
print('Deviance Chi=Square Test')
print('Chi-Square Statistic = ', testDev)
print('  Degreee of Freedom = ', testDF)
print('        Significance = ', testPValue)

Optimization terminated successfully.
         Current function value: 0.888548
         Iterations 6
Deviance Chi=Square Test
Chi-Square Statistic =  25.980822149431333
  Degreee of Freedom =  2
        Significance =  2.28210778553294e-06

In [58]:
fullParams6[fullParams6['0_y'] == 0.0]

                                 1_x  0_y  1_y
group_size_4                     0.0  0.0  0.0
homeowner_1                      0.0  0.0  0.0
married_couple_1                 0.0  0.0  0.0
group_size_1 * homeowner_1       0.0  0.0  0.0
group_size_2 * homeowner_1       0.0  0.0  0.0
group_size_3 * homeowner_1       0.0  0.0  0.0
group_size_4 * homeowner_0       0.0  0.0  0.0
group_size_4 * homeowner_1       0.0  0.0  0.0
group_size_1 * married_couple_1  0.0  0.0  0.0
group_size_2 * married_couple_1  0.0  0.0  0.0
group_size_3 * married_couple_1  0.0  0.0  0.0
group_size_4 * married_couple_0  0.0  0.0  0.0
group_size_4 * married_couple_1  0.0  0.0  0.0
homeowner_0 * married_couple_1   0.0  0.0  0.0
homeowner_1 * married_couple_0   0.0  0.0  0.0
homeowner_1 * married_couple_1   0.0  0.0  0.0

In [7]:
# Find the non-redundant columns in the design matrix fullX
reduced_form, inds = sympy.Matrix(X.values).rref()

In [12]:
inds

(0, 1, 2, 3, 5, 7, 9, 11, 13, 17, 19, 21, 25)

In [9]:
-numpy.log10(1.4597001210408566e-295)

294.8357363559649

## Question 2

In [5]:
x1 = pd.get_dummies(purchase[['group_size']].astype('category'))
x2 = pd.get_dummies(purchase[['homeowner']].astype('category'))
x3 = pd.get_dummies(purchase[['married_couple']].astype('category'))
y = pd.get_dummies(purchase[['insurance']].astype('category'))

X = x1
X = X.join(x2)
X = X.join(x3)
X = X.join(create_interaction(x1, x2))
X = X.join(create_interaction(x1, x3))
X = X.join(create_interaction(x2, x3))
X = stats.add_constant(X, prepend=True)

logit = stats.MNLogit(y, X)
thisFit = logit.fit(method='newton', full_output=True, maxiter=100, tol=1e-8)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.888548
         Iterations: 100

In [6]:
thisFit.predict(X)

lst=([1,0,0],[1,0,1],[1,1,0],[1,1,1],
[2,0,0],[2,0,1],[2,1,0],[2,1,1],
[3,0,0],[3,0,1],[3,1,0],[3,1,1],
[4,0,0],[4,0,1],[4,1,0],[4,1,1])

catPred = ['group_size', 'homeowner', 'married_couple']

xTest = pd.DataFrame(lst, columns=catPred)
x1Test = pd.get_dummies(xTest[['group_size']].astype('category'))
x2Test = pd.get_dummies(xTest[['homeowner']].astype('category'))
x3Test = pd.get_dummies(xTest[['married_couple']].astype('category'))

X_test = x1Test
X_test = X_test.join(x2Test)
X_test = X_test.join(x3Test)
X_test = X_test.join(create_interaction(x1Test, x2Test))
X_test = X_test.join(create_interaction(x1Test, x3Test))
X_test = X_test.join(create_interaction(x2Test, x3Test))
X_test = stats.add_constant(X_test, prepend=True)
X_test
yTest_predProb = thisFit.predict(X_test)
yTest_predProb.columns = ['P(insurance=0)', 'P(insurance=1)', 'P(insurance=2)']
test = pd.concat([xTest, yTest_predProb], axis = 1)
test

,group_size,homeowner,married_couple,P(insurance=0),P(insurance=1),P(insurance=2)
0,1,0,0,0.257582,0.591653,0.150765
1,1,0,1,0.328060,0.510687,0.161253
2,1,1,0,0.180464,0.686085,0.133452
3,1,1,1,0.217257,0.628228,0.154515
4,2,0,0,0.279425,0.550953,0.169623
5,2,0,1,0.203284,0.647446,0.149269
6,2,1,0,0.249383,0.597778,0.152838
7,2,1,1,0.161437,0.701504,0.137059
8,3,0,0,0.237434,0.654601,0.107965
9,3,0,1,0.240406,0.597961,0.161632
10,3,1,0,0.282651,0.603586,0.113763
11,3,1,1,0.260167,0.562521,0.177312
12,4,0,0,0.304008,0.595211,0.100781
13,4,0,1,0.193714,0.673257,0.133029
14,4,1,0,0.505939,0.406206,0.087855
15,4,1,1,0.332066,0.531139,0.136796

In [37]:
#2B: P(insurance=1)/P(insurance=0)
print('Max Odd Value: P(insurance=1)/P(insurance=0)\n')
print('{}'.format(test['P(insurance=1)']/test['P(insurance=0)']))

# [7]: 2 1 1

Max Odd Value P(insurance=1)/P(insurance=0)

0     2.296948
1     1.556691
2     3.801790
3     2.891633
4     1.971741
5     3.184930
6     2.397027
7     4.345371
8     2.756984
9     2.487295
10    2.135450
11    2.162151
12    1.957883
13    3.475517
14    0.802875
15    1.599500
dtype: float64

In [59]:
#2C: 
P_G3 = purchase[purchase['group_size'] == 3].groupby('insurance').size()[2] / purchase[purchase['group_size'] == 3].groupby('insurance').size()[0]
P_G1 = purchase[purchase['group_size'] == 1].groupby('insurance').size()[2] / purchase[purchase['group_size'] == 1].groupby('insurance').size()[0]
P_G = P_G3/P_G1
P_G

1.0249543364157785

In [60]:
#2D:
P_H1 = purchase[purchase['homeowner'] == 1].groupby('insurance').size()[0] / purchase[purchase['homeowner'] == 1].groupby('insurance').size()[1]
P_H0 = purchase[purchase['homeowner'] == 0].groupby('insurance').size()[0] / purchase[purchase['homeowner'] == 0].groupby('insurance').size()[1]
P_H = P_H1/P_H0
P_H

0.6232245044401727

## Question 3

In [8]:
purchase.groupby('insurance').count()['group_size']

insurance
0    143691
1    426067
2     95491
Name: group_size, dtype: int64

In [12]:
print(143691/len(purchase))
print(426067/len(purchase))
print(95491/len(purchase))

0.21599581510081187
0.64046244338586
0.1435417415133281

In [9]:
purchase.groupby(['insurance', 'group_size']).count()

                      homeowner  married_couple
insurance group_size
0         1              115460          115460
          2               25728           25728
          3                2282            2282
          4                 221             221
1         1              329552          329552
          2               91065           91065
          3                5069            5069
          4                 381             381
2         1               74293           74293
          2               19600           19600
          3                1505            1505
          4                  93              93

In [10]:
purchase.groupby(['insurance', 'homeowner']).count()

                     group_size  married_couple
insurance homeowner
0         0               78659           78659
          1               65032           65032
1         0              183130          183130
          1              242937          242937
2         0               46734           46734
          1               48757           48757

In [11]:
purchase.groupby(['insurance', 'married_couple']).count()

                          group_size  homeowner
insurance married_couple
0         0                   117110     117110
          1                    26581      26581
1         0                   333272     333272
          1                    92795      92795
2         0                    75310      75310
          1                    20181      20181

In [13]:
import numpy
import pandas
import scipy
import sklearn.ensemble as ensemble
import statsmodels.api as smodel

# Define a function that performs the Chi-square test
def ChiSquareTest (
    xCat,           # input categorical feature
    yCat,           # input categorical target variable
    debug = 'N'     # debugging flag (Y/N) 
    ):

    obsCount = pandas.crosstab(index = xCat, columns = yCat, margins = False, dropna = True)
    cTotal = obsCount.sum(axis = 1)
    rTotal = obsCount.sum(axis = 0)
    nTotal = numpy.sum(rTotal)
    expCount = numpy.outer(cTotal, (rTotal / nTotal))

    if (debug == 'Y'):
        print('Observed Count:\n', obsCount)
        print('Column Total:\n', cTotal)
        print('Row Total:\n', rTotal)
        print('Overall Total:\n', nTotal)
        print('Expected Count:\n', expCount)
        print('\n')
       
    chiSqStat = ((obsCount - expCount)**2 / expCount).to_numpy().sum()
    chiSqDf = (obsCount.shape[0] - 1.0) * (obsCount.shape[1] - 1.0)
    chiSqSig = scipy.stats.chi2.sf(chiSqStat, chiSqDf)

    cramerV = chiSqStat / nTotal
    if (cTotal.size > rTotal.size):
        cramerV = cramerV / (rTotal.size - 1.0)
    else:
        cramerV = cramerV / (cTotal.size - 1.0)
    cramerV = numpy.sqrt(cramerV)

    return(chiSqStat, chiSqDf, chiSqSig, cramerV)

In [22]:
catPred = ['group_size', 'homeowner', 'married_couple']

testResult = pd.DataFrame(index = catPred,
                              columns = ['Test', 'Statistic', 'DF', 'Significance', 'Association', 'Measure'])

for pred in catPred:
    chiSqStat, chiSqDf, chiSqSig, cramerV = ChiSquareTest(purchase[pred], purchase['insurance'], debug = 'Y')
    testResult.loc[pred] = ['Chi-square', chiSqStat, chiSqDf, chiSqSig, 'Cramer''V', cramerV]

Observed Count:
 insurance        0       1      2
group_size
1           115460  329552  74293
2            25728   91065  19600
3             2282    5069   1505
4              221     381     93
Column Total:
 group_size
1    519305
2    136393
3      8856
4       695
dtype: int64
Row Total:
 insurance
0    143691
1    426067
2     95491
dtype: int64
Overall Total:
 665249
Expected Count:
 [[1.12167707e+05 3.32595349e+05 7.45419441e+04]
 [2.94603172e+04 8.73545940e+04 1.95780888e+04]
 [1.91285894e+03 5.67193540e+03 1.27120566e+03]
 [1.50117091e+02 4.45121398e+02 9.97615104e+01]]


Observed Count:
 insurance      0       1      2
homeowner
0          78659  183130  46734
1          65032  242937  48757
Column Total:
 homeowner
0    308523
1    356726
dtype: int64
Row Total:
 insurance
0    143691
1    426067
2     95491
dtype: int64
Overall Total:
 665249
Expected Count:
 [[ 66639.67686235 197597.39442074  44285.92871692]
 [ 77051.32313765 228469.60557926  51205.07128308]]


Observed Count:
 insurance            0       1      2
married_couple
0               117110  333272  75310
1                26581   92795  20181
Column Total:
 married_couple
0    525692
1    139557
dtype: int64
Row Total:
 insurance
0    143691
1    426067
2     95491
dtype: int64
Overall Total:
 665249
Expected Count:
 [[113547.27203198 336685.9827884   75458.74517962]
 [ 30143.72796802  89381.0172116   20032.25482038]]

In [26]:
testResult.sort_values(by='Significance', ascending=False)

                      Test Statistic DF  Significance Association    Measure
married_couple  Chi-square   699.285  2  1.41953e-152     CramerV  0.0324216
group_size      Chi-square   977.276  6  7.34301e-208     CramerV   0.027102
homeowner       Chi-square   6270.49  2             0     CramerV  0.0970864

In [29]:
import sklearn.naive_bayes as naive_bayes

X = purchase[catPred]
y = purchase['insurance']
classifier = naive_bayes.MultinomialNB().fit(X, y)

print('Class Count:\n', classifier.class_count_)
print('Log Class Probability:\n', classifier.class_log_prior_ )
print('Feature Count (after adding alpha):\n', classifier.feature_count_)
print('Log Feature Probability:\n', classifier.feature_log_prob_)

predProb = classifier.predict_proba(X)
print('Predicted Conditional Probability (Training):', predProb)

Class Count:
 [143691. 426067.  95491.]
Log Class Probability:
 [-1.53249625 -0.4455648  -1.9411294 ]
Feature Count (after adding alpha):
 [[174646.  65032.  26581.]
 [528413. 242937.  92795.]
 [118380.  48757.  20181.]]
Log Feature Probability:
 [[-0.42171399 -1.40958595 -2.30424649]
 [-0.49186398 -1.26893778 -2.23134052]
 [-0.45891549 -1.34595444 -2.2280326 ]]
Predicted Conditional Probability (Training): [[0.22534324 0.62463169 0.15002508]
 [0.22534324 0.62463169 0.15002508]
 [0.22534324 0.62463169 0.15002508]
 ...
 [0.20558784 0.65412798 0.14028418]
 [0.20558784 0.65412798 0.14028418]
 [0.20558784 0.65412798 0.14028418]]

In [57]:

lst=([1,0,0],[1,0,1],[1,1,0],[1,1,1],
[2,0,0],[2,0,1],[2,1,0],[2,1,1],
[3,0,0],[3,0,1],[3,1,0],[3,1,1],
[4,0,0],[4,0,1],[4,1,0],[4,1,1])

xTest = pd.DataFrame(lst, columns=catPred)
yTest_predProb = pandas.DataFrame(classifier.predict_proba(xTest), columns = ['P(insurance=0)', 'P(insurance=1)', 'P(insurance=2)'])
yTest_score = pandas.concat([xTest, yTest_predProb], axis = 1)
yTest_score

,group_size,homeowner,married_couple,P(insurance=0),P(insurance=1),P(insurance=2)
0,1,0,0,0.227037,0.627594,0.145369
1,1,0,1,0.214393,0.637463,0.148144
2,1,1,0,0.205588,0.654128,0.140284
3,1,1,1,0.193845,0.663409,0.142746
4,2,0,0,0.238440,0.614464,0.147096
5,2,0,1,0.225343,0.624632,0.150025
6,2,1,0,0.216280,0.641529,0.142191
7,2,1,1,0.204080,0.651124,0.144796
8,3,0,0,0.250199,0.601087,0.148713
9,3,0,1,0.236654,0.611544,0.151802
10,3,1,0,0.227341,0.628654,0.144005
11,3,1,1,0.214686,0.638557,0.146758
12,4,0,0,0.262305,0.587479,0.150215
13,4,0,1,0.248318,0.598214,0.153467
14,4,1,0,0.238765,0.615516,0.145718
15,4,1,1,0.225657,0.625719,0.148624

In [59]:
(yTest_score['P(insurance=1)']/yTest_score['P(insurance=0)']).sort_values()

12    2.239677
8     2.402432
13    2.409062
4     2.577014
14    2.577912
9     2.584126
0     2.764283
10    2.765246
5     2.771912
15    2.772878
6     2.966194
1     2.973345
11    2.974380
2     3.181744
7     3.190525
3     3.422378
dtype: float64

In [9]:
(3*3 + 2*4)/27

3.888888888888889